/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS properties */
:root {
    --dispsize: 1200px;
}

/* Utils */
.container {
    max-width: var(--dispsize);
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

button {
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bg-black {
    color: white;
    background-color: black;

    .flex {
        display: flex;
    }
}

.img-fit-container {
    width: 100%;
    height: auto;
}

i {
    font-size: 1rem;
    margin-right: 12px;

}

/* Header */

header {
    display: flex;
    height: 100px;
    background-color: hsl(227.78deg 76.26% 57.06%);
    align-items: center;
}

.header.container {
    flex-basis: 100%;
    display: flex;
    height: 60%;
}

.header-item {
    display: flex;
    align-items: center;
}

.side-header {
    flex-basis: calc(var(--dispsize) * 0.2);
}

.header-item:not(.side-header) {
    flex-basis: calc(var(--dispsize) * 0.6);
    justify-content: center;
    padding: 0 50px;
}

.side-header:last-of-type {
    justify-content: flex-end;
}

.header-item>* {
    margin: 20px;
}

#logo {
    height: 100%;
    width: auto;
}

header button {
    font-size: 1.2rem;
}

/* Jumbotron */

h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

#jumbotron {
    height: 514px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#jumbo-content {
    text-align: center;
    color: white;
    height: 100%;
    flex-basis: 50%;
    padding-top: 50px;
}

#jumbo-content>p {
    font-size: 22px;
    margin-bottom: 20px;
}

#jumbo-content button {
    font-size: 22px;
    padding: 20px 40px;
    margin: 0 30px;
}

/* MAIN */
.primary-section {
    height: 880px;
    display: flex;
    padding: 160px;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.primary-section p {
    font-size: 24px;
}

.primary-section:nth-of-type(odd) {
    background-color: white;
}

.primary-section:nth-of-type(even) {
    background-color: hsl(0deg 0% 96.47%);
}

.small-content {
    flex-basis: calc(var(--dispsize) * 0.4);
}

.large-content {
    flex-basis: calc(var(--dispsize) * 0.6);
}

.primary-section>.container {
    height: 100%;
    display: flex;
    width: var(--dispsize);
}

.primary-section:last-of-type {
    height: 1400px;
}

.primary-section:last-of-type>.container {
    display: block;
}

.main-ending {
    margin: 0 auto;
    padding: 42px 51px;
    width: fit-content;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

}

h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

#button-ending-section {
    color: white;
    background-color: hsl(226.27deg 58.04% 71.96%);
    font-size: 24px;
    padding: 15px 30px;
}

/* Footer */

footer {
    background-color: black;
    height: 600px;
    display: flex;
}

.footer-container {
    max-width: var(--dispsize);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-footer {
    margin-top: 20px;
    width: var(--dispsize);
    height: 400px;
    display: flex;
}

.top-left-footer {
    width: calc(var(--dispsize) / 3);
    background-color: pink;
}

.top-right-footer {
    background-color: turquoise;
    width: calc(var(--dispsize) / 3 * 2);
    display: flex;
}

.col-footer {
    flex-grow: 1;
    border: 1px dashed white;
}

.bottom-footer {
    height: 100px;
    background-color: springgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-footer-item {
    background-color: lightcoral;
    padding: 10px 20px;
}